.searchBar{
    width: 25%;
}

.searchBar input{
    border: 1px solid #7064e5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #7064e5!important;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    margin: 2em 0!important;
    outline: none;
    padding: 12px;
    width: 100%;
}