.carouselCon{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.currentImage{
    height: 80%;
    width: 70%;
    margin: 0 20px 0 20px;
}
.backBtn,.forwBtn,.closeBtn{
    width: 3rem;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    transition: background-color ease-in-out 0.5s;
}
.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}
.backBtn:hover,.forwBtn:hover{
    background-color:cornflowerblue
}
.closeBtn:hover{
    background-color:red;
    opacity: 0.8;
}
