.navbarContainer{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: blueviolet;
    display: flex;
    align-items:center;
    color: white;
    z-index: 1;
}
.logo{
    height: 7vh;
    mix-blend-mode:lighten;
    display: block;
    border-radius: 20%;
    margin: 0 10px 0 10px;
}